* {
    box-sizing: border-box;
}

body{
    padding: 100px;
    padding-top: 30px;
}

p {
    word-spacing: 14px;
}

.papername {
    font: 90px "Playfair Display SC";
    font-weight: 1000;
	text-align: center;
}

.abc p {
    display: inline;
    padding-left: 14em;
}

.left_col1 {
    width: 75%;
    padding-top: 0px;
    margin-top: 10px;
    height: 1350px;
    float:left;
    border-right: 1px solid black;  
}

.main_heading {
    margin-top: 0;
    font-family: var(--font-title);
    font-size: 52px;
    font-style: italic;
    text-align: left;
    margin-bottom: 0.8rem;
   
}

.sub {
    width: 45%;
    height: 490px;
}

.left_col1 p {
    margin: 0;
    margin-bottom: 0.8rem;
    line-height: 1.3;
    width: 210px;
}

.left_col1 .P {
    float: right;
    position:relative;
    top: -99%;
}

.left_col1 .p3 {
    float: right;
    position: relative;
    left: 46%;
    top: -48%;

}

.img_con {
    position: absolute;
    left: 38%;
    top: 64%;
}

.left_col1 .img {
    background-color: #111;
    width: 490px;
    height: 460px;   
}

.right_col1 {
    padding-left: 7%
    width: 25%;
    float: right;
}